.container {
  position: relative;
}

.center-vert {
  position: absolute;
  top: 60%;
}

.banner {
    background-size: cover;
    color: white;
    object-fit: contain;
    height: 448px;
}
.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), 60%, rgba(0, 0, 0, 0.7));
}