.banner {
    max-width: 100%;
}

.anime_name {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
}

.content {
    display: flex;
}

.description_detail {
    padding: 0px 15px 15px 15px;
    font-size: 20px;
    line-height: 1.3;
}

.trailer_video {
    width: 50vw;
    height: 50vh;
}

.frame_wrapper {
    width: 50%;
    height: 100%;
    padding: 0px 0px 15px 15px;
}